<div class="container">
   <h2 style="font-size: large; font-family: 'Times New Roman', Times, serif; font-style: italic; margin-left: 20%;">
        Welcome user!!
   </h2>
</div>


<div style="margin-left: 30%;">
    <a class="btn btn-danger btn-sm" href="/log-out">Logout</a>
</div>